@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
}

.container{
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    
}

.card{
    width: 300px;
    padding: 15px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 15px;
    box-shadow: 0px 19px 13px rgba(0, 0, 0, 0.1);
}

.card-image{
    width: 269px;
    height: 269px;
    border-radius: 15px;
    overflow: hidden;
}

.card-image img{
    width: 100%;
    
}

.card-content{
    text-align: center;
}

.card-content h1{
    color: hsl(218, 44%, 22%);
    font-size: 18px;
    text-wrap: nowrap;
    font-weight: 700;
    margin-top: 15px;
}

.card-content p{
    color: hsl(216, 15%, 48%);
    font-size: 15px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 15px;
}